*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: "New Tegomin", sans-serif;
  font-size: 16px;
  line-height: 16px;
  background-color: #cbc4b3;
}

.first-page {
  border-bottom: 2px solid #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "New Tegomin", sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.line {
  border-bottom: 2px solid black;
}

.header {
  text-align: center;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 30px 0;
}
.title-box__item {
  flex-basis: 600px;
}

.date {
  padding: 10px;
  flex-basis: 200px;
  border: 1px solid black;
}
.date__text {
  font-size: 0.8rem;
}

.paper-title {
  align-self: center;
}
.paper-title__text {
  font-size: 5rem;
  line-height: 5rem;
  font-weight: bold;
}

.weather {
  flex-basis: 200px;
}
.weather__title {
  font-size: 0.8rem;
}
.weather__text {
  font-size: 0.8rem;
  text-align: left;
  font-weight: bold;
}

.nav {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__item {
  margin: 0 10px;
}

.paper-today {
  font-size: 1.5rem;
  font-weight: bold;
}

.main {
  padding: 20px 0 40px 0;
}

.news {
  margin: -40px 0 10px 0;
}
.news__box {
  padding: 2px 0;
  text-align: center;
}
.news__box:last-child {
  margin: 10px 0;
}
.news__title {
  font-size: 8rem;
  line-height: 8rem;
  font-weight: bold;
}
.news__subtitle {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: start;
}
.content__row {
  margin: 0 20px;
  flex-basis: 50%;
}
.content__row_aside {
  flex-basis: 30%;
}

.big-image > img {
  width: 100%;
}

.aside__item {
  padding: 0 0 10px 0;
}
.aside__item:last-child {
  margin: 10px 0 0 0;
}
.aside__item > img {
  width: 100%;
}
.aside__picture-title {
  font-weight: bold;
  font-size: 0.8rem;
}
.aside__related-title {
  font-size: 3rem;
  font-weight: bold;
}

.second-page {
  padding: 20px 0;
}
.second-page__inner {
  display: flex;
}

.second-page-primary-title {
  font-weight: bold;
  font-size: 18px;
  padding: 5px 0;
}

.second-page-primary-text {
  font-size: 16px;
}

.first-column {
  flex-basis: 400px;
  padding: 5px 10px;
}
.first-column__box {
  margin-bottom: 20px;
}
.first-column__box:nth-child(2n) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.first-column__title_top {
  margin-bottom: 40px;
}
.first-column__title {
  margin: 0 0 10px 0;
}
.first-column__img-box {
  padding: 10px 0;
  display: flex;
  align-items: flex-start;
}
.first-column__img {
  height: 185px;
  width: 271px;
}
.first-column__img-text {
  margin-left: 5px;
}

.between-column {
  flex-basis: 166px;
  padding: 5px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.between-column__title {
  margin-bottom: 20px;
}

.central-column {
  flex-basis: 420px;
  padding: 5px 0;
}
.central-column__img-box {
  padding: 0 10px 26px;
  border-bottom: 1px solid black;
}
.central-column__img {
  width: 400px;
  height: 300px;
  margin-bottom: 36px;
}
.central-column__row {
  padding: 0 10px;
}
.central-column__title {
  margin: 0 auto 10px auto;
  width: 328px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
